.profile {
  max-width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__info {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 0 0 30px;
}

.profile__name {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin: 0;
}

.profile__name-title {
  max-width: 90%;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-btn {
  min-width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  background: none;
  background-image: url(../images/icon_edit.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

.profile__description {
  max-width: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-btn {
  min-width: 150px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  background: none;
  background-image: url(../images/icon_cross.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: opacity 0.3s linear;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 610px) {
  .profile {
    margin: 42px 5.9375% 0;
    flex-direction: column;
    justify-content: center;
  }

  .profile__info {
    margin: 30px 0 0;
    max-width: 100%;
    align-items: center;
    gap: 14px;
  }

  .profile__name {
    gap: 10px;
  }

  .profile__name-title {
    font-size: 22px;
    line-height: 1.22;
  }

  .profile__edit-btn {
    min-width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }

  .profile__description {
    font-size: 14px;
  }

  .profile__add-btn {
    width: 100%;
    margin: 36px 0 0;
  }
}
