@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

body {
  background-color: #000;
}

.page {
  max-width: 880px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  max-width: 100%;
  min-height: 74px;
  margin-top: 45px;
  padding: 0;
  /* margin: 45px 15.625% 0; */
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.logo {
  max-width: 173px;
}

.profile {
  max-width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 0 0 30px;
}

.profile__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin: 0;
}

.profile__name-title {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  /* line-height: 1.14; */
}

.profile__edit-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  background: none;
  background-image: url(../images/icon_edit.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

.profile__description {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
}

.avatar {
  min-width: 120px;
  min-height: 120px;
  background-image: url(../images/profile_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.profile__add-btn {
  width: 150px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  background: none;
  background-image: url(../images/icon_cross.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

.profile__add-icn {
  max-width: 22px;
}

.gallery {
  margin-top: 5.681818181818182%;
}

.gallery__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 21px 17px;
}

.card {
  max-width: 282px;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.card__photo-container {
  height: 282px;
  overflow: hidden;
}

.card__photo {
  max-width: 150%;
  object-fit: cover;
}

.card__description {
  padding: 25px 15px 31px 21px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0;
  color: #000;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.card__like-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.footer {
  margin-top: 7.613636363636364%;
  margin-bottom: 6.8181818181818175%;
}

.footer_copyright {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup__active {
  display: flex;
}

.popup__container {
  width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

.popup__form {
  max-width: 100%;
  margin: 34px 36px 36px;
}

.popup__close {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  right: -40px;
  top: -40px;
  background: none;
  background-image: url(../images/icon_close.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__title {
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-weight: 900;
  font-size: 24px;
  color: #000;
  line-height: 1.2;
}

.popup__fieldset {
  margin: 54px 0 0 0;
  padding: 0;
  border: none;
  width: 100%;
}

.popup__input {
  width: 100%;
  margin: 0 0 29.74px 0;
  padding-bottom: 13.26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.popup__input:last-of-type {
  margin: 0;
}

.popup__submit {
  width: 100%;
  margin: 48px 0 0 0;
  padding-top: 13.66px;
  padding-bottom: 18.49px;
  background-color: #000;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
}

.popup__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}
